
<ion-view view-title="" class="galleryView">
<ion-content>
<ion-list>
<div class="row row-wrap row-no-padding ">
<ion-item  class="col col-50 button button-icon defaultListItem1 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>


<div class="mainText ">الرياض</div>


</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">جدة </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem3 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">مكة المكرمة </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem2 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الدمام </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem5 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">المدينة المنورة </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem4 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الاحساء </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem6 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الخبر </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem7 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الطائف </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem8 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">تبوك </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem9 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">حائل </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem10 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">ابها </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem11 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">عسير</div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem12 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">القطيف </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem13 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">خميس مشيط</div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem14 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الجوف </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem15 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">حفر الباطن </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem16 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الجبيل </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem17 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الخرج </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem18 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الظهران</div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem19 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الباحة </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem20 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">رفحاء</div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem21 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">رابغ </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem22 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">طريف</div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem23 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">الخفجي </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem24 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">القنفذة </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem25 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">النعيرية </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem26 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">النماص </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem27 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">بارق </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem28 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">بريدة </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem29 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">تنومة </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem30 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">راس تنورة </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem31 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">شرورة </div>

</ion-item>
<ion-item  class="col col-50 button button-icon defaultListItem32 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">محايل عسير </div>

</ion-item>

<ion-item  class="col col-50 button button-icon defaultListItem33 " href="#/app/playlists/{{playlist.id}}">

<i class="icon {{item.icon}}"></i>
<div class="mainText ">وادي الدواسر </div>

</ion-item>

</div>

</ion-list>
</ion-content>
</ion-view>